.card {
    text-decoration: none;
    color: #000;
    margin-top: 10px;
    min-height: 500px;
    
  }
  .loading {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  